html {
    background-color: #EAEAEA;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
}
nav {
    display: flex;
    justify-content:space-evenly;
    background-color:  #625B5B;
}
.linki {
    border: black 1px solid;
    border-radius: 20px;
    background-color: #EAEAEA;
    padding: 10px;
    margin: 10px;
    color: #625B5B;
    font-size: x-large;
    font-weight: bold;
}
.linki:hover {
    background-color: #625B5B;
    color:  #EAEAEA;
    border: white 1px solid
}
table {
    margin-left: 40px;
    border: #625B5B 1px dashed;
    width: 60%;
    text-align: center;
}
th ,td {
    padding: 8px;
    text-align: left;
}
ul {
    margin-left: 40px;
    list-style-type: circle;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #625B5B;
    color: white;
    padding: 20px;
    text-align: center;
    height: 250px;
    
}
main {
    height: 250px;
}
.kontrolki {
    margin: 5px;
}